<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Wish</title>
    <link rel="stylesheet" href="/addWish.css">
    <link rel="icon" type="image/x-icon" href="https://cdn.icon-icons.com/icons2/3560/PNG/512/wishlist_product_list_order_cart_icon_225175.png">
</head>
<body>

<div class="container mt-4">
    <h2>Add New Wish</h2>
    <form th:action="@{'/' + ${user.username} + '/save'}" th:object="${wish}" method="post">

        <div class="form-group">
            <label for="name" class="form-label">Wish Name</label>
            <input type="text" class="form-control" id="name" name="name" th:field="*{name}" placeholder="Enter wish name" required>
        </div>
        <div class="form-group">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" id="price" name="price" th:field="*{price}" placeholder="Enter price" required>
        </div>
        <div class="form-group">
            <label for="link" class="form-label">Link</label>
            <input type="text" class="form-control" id="link" name="link" th:field="*{link}" placeholder="Enter link to wish">
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Add Wish</button>
            <button class="btn btn-primary" type="button" onclick="history.back()">Cancel</button>
        </div>
    </form>
</div>

</body>
</html>
