<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/home.css">
    <link rel="icon" type="image/x-icon" href="https://cdn.icon-icons.com/icons2/3560/PNG/512/wishlist_product_list_order_cart_icon_225175.png">
    <title>Home</title>
</head>
<body>


<div class="menu">
    <div class="menu-item">
        Wishlist
        <a href="/about">About Us</a>
    </div>
    <div class="menu-item" th:if="${isLoggedIn}">
        <a th:href="@{'/' + ${user.username} + '/wishlist'}">My Wishlist</a>
    </div>
    <div class="menu-item" th:unless="${isLoggedIn}">
        <a href="/login">Login</a>
        <a class="btn btn-secondary" type="a" onclick="window.location.href='/register'">Register</a>
    </div>
</div>




<div class="under">
    <div class="container">
        <div class="text">
            <p>En platform, hvor brugere deler og organiserer deres personlige ønsker, fra ting til oplevelser, og interagerer med andre brugeres ønsker.</p>
        </div>
        <div class="image">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/62/Gifts_xmas.jpg" >
        </div>
    </div>

</div>


</body>
</html>